# Dependencias
node_modules/
**/node_modules/

# Variables de entorno
.env
**/.env

# Archivos de build
dist/
build/
.vite/
public/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Temporales
*.tmp
test.txt
